# general
*.json
!examples/**/gui_definition.json
!tests/**/*.json
!CMakePresets.json
!schema/*.json

*.txt
!changelog.txt
!CMakeLists.txt
!license.txt
!WX_VERSION.txt
!wx_fix/*.txt

*.bat
!batch_files/*.bat

*.sh
!shell_scripts/*.sh

# built files
*.exe
*.zip

SimpleCommandRunner
*.tar.*

# intermediate files
build
Release*
Debug*
*.log
*.cmake

.vs*
out
*.ilk
*.pdb
*.obj
*.lib
*.bin
*.ninja
*.manifest
*.rc
*.res
*.ninja

*.a
*.o
*.o.d
*.internal
*.test
*.make

!wx_fix/build
!wx_fix/build/cmake/*.cmake

# python
python
*.py
*.pyd
*.dll
*.cat

# coverage report
coverage-report
*.png
*.css
*.html
