# general
*.json
!examples/**/gui_definition.json
!tests/**/*.json
!schema/*.json
*.jsonc
!examples/**/gui_definition.jsonc
!tests/**/*.jsonc
*.tuw
!examples/**/*.tuw

*.txt
!changelog.txt
!license.txt
!meson_options.txt

*.bat
!batch_files/*.bat
!examples/tips/ansicode/ansicode.bat

*.sh
!shell_scripts/*.sh
!examples/tips/ansicode/ansicode.sh

*.ps1
!examples/**/*.ps1

# subprojects
subprojects/libui
subprojects/packagecache
subprojects/rapidjson
subprojects/subprocess
subprojects/google*
subprojects/env_utils
subprojects/tiny_str_match
subprojects/gtk_ansi_parser

# built files
*.exe
*.new
*.zip

Tuw*
SimpleCommandRunner
*.tar.*

# intermediate files
build
*.log
*.cmake

.vs*
out
*.ilk
*.pdb
*.obj
*.lib
*.bin
*.ninja
*.manifest
!src/*.manifest
*.rc
!src/*.rc
*.res
*.ninja

*.a
*.o
*.o.d
*.internal
*.test
*.make

# python
python
*.py
!tests/*.py
*.pyd
*.dll
*.cat

# coverage report
coverage-report
*.png
*.css
*.html
