#general
*.json
!examples/*/gui_definition.json
!tests/**/*.json
build
Release*
Debug*
coverage-report
*.txt
!changelog.txt
!CMakeLists.txt
!license.txt
!WX_VERSION.txt

#for windows
.vs*
out
SimpleCommandRunner-v*
*.exe
*.zip
*.bat
!batch_files/*.bat

# for unix
*.sh
!shell_scripts/*.sh
*.tar.*

# for test scripts
python
*.py

